<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	{% if form.errors %}
	<p>Ocorreu algo errado com os valores de entrada!</p>
	{% endif %}

	{% if next %}
	<p>Você não tem acesso a esta página!</p>
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}

		<p>Usuário: {{ form.username }}</p>
		<p>Senha: {{ form.password }}</p>

		<p><input type="submit" value="login"></p>
		<p><input type="hidden" name="next" value="{{ next}}"></p>
	</form>
</body>
</html>