<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
</head>
<body>
	<p><h1>This is the index page!</h1></p>
	{% if user.is_authenticated %}
	<h2>Hello {{ user.username }}, how are you?</h2>
	<h2>Please, access the following link:<a href="{% url 'blog' %}">Link</a></h2>
	{% else %}
	<h2>You are not logged!</h2>
	<a href="{% url 'login' %}"><h2>Login</h2></a>
	{% endif %}
	{% if user.is_anonymous %}
	<p><h2>Would you like to create an account?</h2></p>
	<a href="{% url 'registro' %}"><h2>Registro</h2></a>
	{% endif %}
	{% if user.is_authenticated %}
	<p><h2>Would you like to logout?</h2></p>
	<a href="{% url 'logout' %}"><h2>Logout</h2></a>
	{% endif %}
</body>
</html>