<!DOCTYPE html>
<html>
<head>
	<title>Usuarios</title>
</head>
<body>
	<p><h1>Esta é a página index!</h1></p>
	{% if user.is_authenticated %}
	<h2>Bem vindo {{ user.username }}, como vai você?</h2>
	{% else %}
	<h2>Você não está logado!</h2>
	<a href="{% url 'login' %}"><h2>Login</h2></a>
	{% endif %}
	{% if user.is_anonymous %}
	<p><h2>Gostaria de criar uma conta de acesso?</h2></p>
	<a href="{% url 'registro' %}"><h2>Registro</h2></a>
	{% endif %}
	{% if user.is_authenticated %}
	<p><h2>Gostaria de fazer logout?</h2></p>
	<a href="{% url 'logout' %}"><h2>Logout</h2></a>
	{% endif %}
</body>
</html>